# =============== #
# Unity .gitignore #
# =============== #

[Librerie temporanee da escludere]
[Librerie]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

[File IDE da escludere]
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

[Mac/Linux/Windows system files]
.DS_Store
*.swp

.vs/
